@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
#section-one {
  background-image: url(../imgs/home.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.property-card {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.property-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
}

/* footer */
footer {
  padding-top: 70px;
}
footer .container {
  gap: 8rem;
}
footer .one img {
  width: 150px;
}
footer h4 {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
footer a {
  color: #afafaf;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.4s ease;
}
footer p {
  color: #afafaf;
}
footer .icons i {
  font-size: 1.5rem;
  color: #afafaf;
  transition: 0.4s ease;
}
footer .sub .input {
  padding: 12px 26px;
  background-color: #ededed;
  border: none;
}
footer input::placeholder {
  color: #afafaf;
  font-size: 1rem;
  letter-spacing: 1px;
}
footer input:focus {
  outline: none;
}
footer .sub button {
  padding: 12px 10px;
  color: #ffffff;
  background-color: #000000;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s ease;
  border: rgb(205, 2, 2);
}
footer a:hover,
footer .icons i:hover {
  color: rgb(205, 2, 2);
  cursor: pointer;
}
footer .sub button:hover {
  background-color: rgb(205, 2, 2);
  border: none;
}
@media (max-width: 768px) {
  footer .top {
    gap: 70px;
  }
  footer .top .four {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  footer .top .four .sub {
    width: 100%;
  }
  footer .top .one {
    order: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }
  footer .top .three {
    order: 1;
  }
  footer .top .two {
    order: 2;
    padding-right: 70px;
  }
  footer .bottom .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
  }
  footer .bottom .info .center {
    order: -1;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .top .four {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  footer .top .four .sub {
    width: 100%;
  }
  footer .bottom .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
  }
  footer .bottom .info .center {
    order: -1;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  footer .bottom .info {
    display: flex;
  }
  footer .top .four {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
}
