@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#section-one {
  background-image: url(../imgs/home.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.property-card {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.property-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
}

.main {
  margin-top: -200px;
}
.main .main-section {
  background-color: white;
  width: 90%;
  z-index: 2;
  padding: 100px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  gap: 60px;
}
.main .main-section .left {
  gap: 20px;
}
.main .main-section .left h2 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.3px;
}
.main .main-section .left .line h3 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.main .main-section .left .line p {
  color: #afafaf;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.main .main-section .left .line a {
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 1.8px;
}
.main .main-section .left .line h4 {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}
.main .main-section .left .line h5 {
  font-size: 1.2rem;
}
/* Right */
.main .main-section .right {
  gap: 20px;
}
.main .main-section .right h2 {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.main .main-section .right .line {
  gap: 20px;
}
.main .main-section .right .line input {
  padding: 5px 20px;
  height: 60px;
}
.main .main-section .right .line .one {
  width: 365px;
}
.main .main-section .right .line .two {
  width: 750px;
}
.main .main-section .right .line textarea {
  padding: 20px;
  width: 750px;
}
.main .main-section .right a {
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #000000;
  width: 750px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.3s;
}
.main .main-section .right a:hover {
  background-color: rgb(205, 2, 2);
}
@media (max-width: 768px) {
  .contact-us {
    width: 100%;
    height: 200px;
  }
  .contact-us .content {
    margin-top: 0px;
  }
  .contact-us .content h2 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .main {
    margin-top: 0px;
  }
  .main .main-section {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .main .main-section .left {
    width: 100%;
    text-align: center;
  }
  .main .main-section .left h2 {
    font-size: 1.5rem;
  }
  .main .main-section .left .line h3 {
    font-size: 1.2rem;
  }
  .main .main-section .left .line p {
    font-size: 1rem;
  }
  .main .main-section .left .line a {
    font-size: 0.9rem;
  }
  .main .main-section .left .line h4 {
    font-size: 1rem;
  }
  .main .main-section .left .line h5 {
    font-size: 1rem;
  }
  .main .main-section .right {
    width: 100%;
  }
  .main .main-section .right h2 {
    font-size: 1.7rem;
  }
  .main .main-section .right .line .one {
    width: 190px;
  }
  .main .main-section .right .line .two {
    width: 400px;
  }
  .main .main-section .right .line textarea {
    width: 400px;
  }
  .main .main-section .right a {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .contact-us {
    width: 100%;
    height: 400px;
  }
  .contact-us .content {
    margin-top: 0;
  }
  .contact-us .content h2 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .main .main-section {
    padding: 60px;
    gap: 40px;
  }
  .main .main-section .left h2 {
    font-size: 1.5rem;
  }
  .main .main-section .left .line h3 {
    font-size: 1.3rem;
  }
  .main .main-section .left .line p {
    font-size: 1rem;
  }
  .main .main-section .left .line a {
    font-size: 1rem;
  }
  .main .main-section .left .line h4 {
    font-size: 1rem;
  }
  .main .main-section .right .line .one {
    width: 190px;
  }
  .main .main-section .right .line .two {
    width: 400px;
  }
  .main .main-section .right .line textarea {
    width: 400px;
  }
  .main .main-section .right a {
    width: 400px;
  }
}
/* map */
.map {
  margin: 100px 0;
  height: 500px;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  padding-top: 70px;
}
footer .container {
  gap: 8rem;
}
footer .one img {
  width: 150px;
}
footer h4 {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
footer a {
  color: #afafaf;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.4s ease;
}
footer p {
  color: #afafaf;
}
footer .icons i {
  font-size: 1.5rem;
  color: #afafaf;
  transition: 0.4s ease;
}
footer .sub .input {
  padding: 12px 26px;
  background-color: #ededed;
  border: none;
}
footer input::placeholder {
  color: #afafaf;
  font-size: 1rem;
  letter-spacing: 1px;
}
footer input:focus {
  outline: none;
}
footer .sub button {
  padding: 12px 10px;
  color: #ffffff;
  background-color: #000000;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s ease;
  border: rgb(205, 2, 2);
}
footer a:hover,
footer .icons i:hover {
  color: rgb(205, 2, 2);
  cursor: pointer;
}
footer .sub button:hover {
  background-color: rgb(205, 2, 2);
  border: none;
}
@media (max-width: 768px) {
  footer .top {
    gap: 70px;
  }
  footer .top .four {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  footer .top .four .sub {
    width: 100%;
  }
  footer .top .one {
    order: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }
  footer .top .three {
    order: 1;
  }
  footer .top .two {
    order: 2;
    padding-right: 70px;
  }
  footer .bottom .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
  }
  footer .bottom .info .center {
    order: -1;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .top .four {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  footer .top .four .sub {
    width: 100%;
  }
  footer .bottom .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
  }
  footer .bottom .info .center {
    order: -1;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  footer .bottom .info {
    display: flex;
  }
  footer .top .four {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
}
